.hDivPg5{
   font-size: 3em;
   font-weight: bold;
   color: white;

}

.insideDivContainedPg5Outer{
    display: flex;
    justify-content: center;
    
}
.insideDivContainedPg5{
    width: 80%;

}
.allChallCard{
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}
.imgCardDiv{
    height: 45svh;
}