.pg8HDiv{
    width: 100%;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    color: white;

    
}
.pg8Div2{
    width: 90%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.pg8Div{
    background-color:#222B48 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pg8BottomSpons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.premiumSponsorsUlDiv{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.imgClass{
    width: 80%;
;
}