.pg3Div{
    height: 180svh;
    background-color: #222B48;
    display: flex;
    justify-content: center;
}
.pg3InnerDiv{
    height: 80%;
    width: 80%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
    
}
.pg3CardDiv{
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.pg3DivCard{
    display: flex;
    justify-content: center;
    gap: 30%;
}
.pg3InnerCardHeader{
    width: 50%;
}
.pg3CardSideImgDiv{
    width: 20%;
}
.pg3CardSideImgDiv img{
    border-radius: 50px;
}