.div10Div{
    background-color:#222B48 ;
    height: 110svh;
    display: flex;
    justify-content: center;
}

.div10DivNext{
    display: flex;
    flex-direction: column;
    gap: 43px;
}

.div10HDiv h1{
    color: white;
    font-size: 3em;
    font-weight: bold;
}